.backgroundIconContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center;
  background-color: green;
}

.backgroundIcon {
  width: 100%;
  height: 100%;
}
