.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.toolBarContainer {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.playContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.spacer {
  display: flex;
  flex-wrap: wrap;
  height: 10px;
  background-color: lightsalmon;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  border: 1px rgb(255, 255, 255) solid;
  justify-content: center;
}

.btn.btn-sm.m-2.btn-danger[disabled],
.btn.btn-sm.m-2.btn-dark[disabled] {
  color: #bdbdbd;
}

.navrow2 {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(100%);
}

.onlineChatContainer {
  display: flex;
  height: 50vh;
  width: 50vw;
  min-width: 200px;
  max-width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  background-color: white;
  border-radius: 10px;
  border-color: tomato solid;
}

.onlineChatContainer.active {
  transform: translate(-50%, -50%) scale(1);
  z-index: 100;
}

.chatToggleButton {
  position: fixed;
  height: 10vh;
  width: 10vh;
  right: 1vh;
  bottom: 1vh;
  z-index: 10;
  cursor: pointer;
  background-color: white;
  box-shadow: 5px 10px 18px black;
  border: none;
  border-radius: 10vh;
  z-index: 101;
  transition: 0.3s;
}

.chatToggleButton:hover {
  background-color: lightgray;
}

.chatToggleButton:active {
  transform: scale(0.95);
}

.chatIconClass {
  width: 60%;
  height: 60%;
}

.chatBadge {
  display: flex;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 0;
  right: 0;
  background-color: red;
  border-radius: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  animation: chatBadgeAnim 1.2s ease-in-out forwards;
  animation-iteration-count: infinite;
}

@keyframes chatBadgeAnim {
  0% {
    transform: translate(0%, 0%) scale(1);
    opacity: 0.5;
  }
  50% {
    transform: translate(0%, -20%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(0%, 0%) scale(1);
    opacity: 0.5;
  }
}

.overlay {
  position: absolute;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 99;
}

.overlay.active {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
  z-index: 99;
}

*:focus {
  outline: 0 !important;
}

.test {
  position: absolute;
}

.handContainer {
  display: inline-flex;
  position: absolute;
  height: calc(30% - 50px);
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0%);
  animation: handAnim 1.2s ease forwards;
}

@keyframes handAnim {
  from {
    transform: translate(-50%, 200%) scale(1);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0%) scale(1);
    opacity: 1;
  }
}

.cardTest {
  background-color: transparent;
  height: 100%;
  width: 100%;
  --card-width: calc((30vh - 50px) / 88 * 63);
  --hand-width: 80vw;
  --offset: calc((var(--card-width) - var(--hand-width) / 13) * -1);
  --final-offset: min(var(--offset), calc(var(--card-width) / -3));
  margin-left: var(--final-offset);
  transition: 0.2s ease-in;
  transform: translateX(calc(var(--final-offset) / -2));
}

.cardTest:hover ~ .cardTest {
  transform: translateX(20%);
}

.svgClass {
  height: 100%;
  box-shadow: 5px 10px 18px black;
  filter: brightness(100%);
  transition: 0.2s ease-in;
}

.svgClass.disable {
  filter: brightness(50%);
}

.svgClass:hover {
  transform: translateY(-30%);
}

.svgClass.disable:hover {
  transform: translateY(0%);
}

button {
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
}

.bidOuterContainer {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  width: calc(100% - (72px * 2));
  transform: translate(-50%, -150%);
  opacity: 0;
  animation: bidflyin 1.2s ease forwards;
}

@keyframes bidflyin {
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.selectPartnerOuterContainer {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -150%);
  opacity: 0;
  animation: bidflyin 1.2s ease forwards;
}
