.Home {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.homePlaceholder {
  position: absolute;
  top: 0;
  height: 90vh;
}

.video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(100%);
}

.topbarOuterContainer {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.topbarContainer {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(
    to bottom,
    rgb(29, 29, 29, 1),
    rgba(29, 29, 29, 0)
  );
  justify-content: space-evenly;
}

.topbtn {
  font-size: calc(var(--btn-font-size) + 1vh);
  font-weight: 500;
  color: white;
  background-color: transparent;
  transition: 0.5s;
  border: transparent;
  outline: none;
}

.topbtn:focus {
  outline: none;
}

.topbtn:hover {
  font-size: calc(var(--btn-font-size) + 2vh);
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 0, 0, 0.5);
  padding: 1vh;
  border-bottom-right-radius: 1vh;
  border-bottom-left-radius: 1vh;
  text-decoration: underline;
  outline: none;
}

.topbtn:active {
  border-color: transparent;
  background-color: red;
  color: white;
  outline: none;
}

.titleContainer {
  position: absolute;
  background-color: transparent;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 10vh;
}

.playbtnContainer {
  position: absolute;
  top: 75vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playbtn {
  width: 20vh;
  background-color: rgba(255, 0, 0, 0.7);
  font-size: 5vh;
  font-weight: bold;
  border-color: white;
  border-width: 1vh;
  border-radius: 2vh;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  color: rgb(255, 255, 255);
  transition: 1s;

  animation-name: example;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.playbtn:focus {
  outline: none;
}

.playbtn:after {
  content: "Play Now";
}

.playbtn:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 0, 0, 1);
  border-color: red;
  font-size: 5vh;
}

.playbtn:hover:after {
  content: "Let's Go";
}

@keyframes example {
  0%,
  100% {
    transform: translateY(0px);
    transform: scaleY(0.96);
  }
  50% {
    transform: translateY(-10px);
  }
}

.textContainer {
  background: rgba(0, 0, 0, 0.66);
  color: white;
  padding: 10vw;
  font-size: var(--btn-font-size);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tutorial.textContainer {
  background-color: rgba(0, 0, 0, 0.66);
}

#about.textContainer {
  background-color: rgba(255, 196, 0, 1);
  color: black;
}

.textContainer div div {
  overflow: visible !important;
}

.textContainerTitle {
  font-size: calc(var(--btn-font-size) + 1vh);
  font-weight: 500;
}

.viewport-header {
  position: relative;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  height: 100vh;
  width: 100%;
  background-color: transparent;
}
.botbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  background-color: rgb(52, 58, 63);
  padding-right: 2rem;
}

.creditsText {
  color: white;
  font-size: var(--btn-font-size);
}

.image {
  position: absolute;
  left: 2vw;
  background-color: transparent;
  background-size: cover;
  height: 5vh;
}

.imgStack {
  position: relative;
  width: 50vw;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.imgCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --side-offset: 10vw;
}

.imgCard:nth-last-child(n + 4) {
  --x: calc(-50% - 2 * var(--side-offset));
  transform: translate(var(--x), -50%) scale(0.9);
  box-shadow: 0 0 1px 1px #00000003;
}
.imgCard:nth-last-child(3) {
  --x: calc(-50% - var(--side-offset));
  transform: translate(var(--x), -50%) scale(0.95);
}
.imgCard:nth-last-child(2) {
  --x: calc(-50%);
  transform: translate(var(--x), -50%) scale(1);
}
.imgCard:nth-last-child(1) {
  --x: calc(-50% + var(--side-offset));
  transform: translate(var(--x), -50%) scale(1.05);
}
