.mainContainer {
  display: flex;
  background-color: yellow;
  border-color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.column1 {
  width: 200px;
  height: 100px;
  align-self: flex-end;
  background-color: grey;
  border-color: rgb(255, 0, 0);

  flex: 2;
}

.column2 {
  width: 200px;
  background-color: blue;
  border-color: rgb(255, 0, 0);
  flex: 1;
}

.column3 {
  width: 200px;
  background-color: red;
  border-color: black;
}

.column4 {
  width: 200px;
  background-color: green;
  border-color: black;
}
