.boardContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.row1 {
  display: flex;
  flex-direction: row;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board.stat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin: 5px;
}

.board.north {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board.west {
  position: absolute;
  top: 45%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.board.east {
  position: absolute;
  top: 45%;
  right: 10%;
  transform: translate(50%, -50%);
}

.board.south {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board.top {
  display: flex;
  flex-direction: row;
}

.dropdown-menu {
  overflow-y: scroll;
  max-height: 15vh;
}

.col1,
.col3,
.col4,
.col5 {
  justify-content: center;
  align-self: center;
  flex: 1;
}

.col2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px rgb(255, 255, 255) solid;
}

.col2row1 {
  display: flex;
  flex-direction: row;
  align-self: center;
  border: 1px rgb(255, 255, 255) solid;
  flex-wrap: wrap;
}
.col2row2 {
  align-self: center;
  border: 1px rgb(255, 255, 255) solid;
}
.col2row3 {
  display: flex;
  flex-direction: row;
  align-self: center;
  border: 1px rgb(255, 255, 255) solid;
  flex-wrap: wrap;
}

.bidBoardContainer {
  display: flex;
  flex: row;
  margin-top: 5px;
}

.bid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-collapse: separate;
  background-color: white;
  font-size: 1rem;
  width: 3rem;
  height: 100%;
  animation: bidAnim 1.2s ease none;
  transform: translate(0, 0) scale(1);
  transition: 1s;
  opacity: 1;
  cursor: default;
}

.bid:not(:first-child) {
  margin-left: -20px;
}

.bid:hover {
  transform: translate(-20%, -10%);
}

.bid:hover ~ .bid {
  transform: translateX(15%);
}

@keyframes bidAnim {
  from {
    transform: translate(100%, 0) scale(2);
    opacity: 0;
  }
  to {
    display: flex;
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

.bid.center {
  justify-content: center;
}

.bid.green {
  background-color: green;
}

.bid.red {
  color: red;
}

.startButton {
  z-index: 10;
}

.startButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: medium;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  animation: startStatusAnim 1.2s ease forwards;
}

@keyframes startStatusAnim {
  to {
    transform: translate(-50%, -50%) scale(2);
    opacity: 1;
  }
}

.boardCardClass {
  width: 10vw;
  max-width: 100px;
  opacity: 1;
  transform: translate(0, 0) scale(1);
  box-shadow: 5px 10px 18px black;
}

.boardCardClass.North {
  animation: northflyin 1.2s ease none;
  transition: 1s ease-in-out;
}
.boardCardClass.North:hover {
  transform: translateY(-50%);
}

.boardCardClass.South {
  animation: southflyin 1.2s ease none;
  transition: 1s ease-in-out;
}
.boardCardClass.South:hover {
  transform: translateY(50%);
}

.boardCardClass.East {
  animation: eastflyin 1.2s ease none;
  transition: 1s ease-in-out;
}
.boardCardClass.East:hover {
  transform: translateX(50%);
}

.boardCardClass.West {
  animation: westflyin 1.2s ease none;
  transition: 1s ease-in-out;
}
.boardCardClass.West:hover {
  transform: translateX(-50%);
}

@keyframes northflyin {
  from {
    transform: translate(0, -200%) scale(2);
  }
  to {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes southflyin {
  from {
    transform: translate(0, 100%) scale(2);
  }
  to {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}
@keyframes eastflyin {
  from {
    transform: translate(200%, 0) scale(2);
  }
  to {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}
@keyframes westflyin {
  from {
    transform: translate(-200%, 0) scale(2);
  }
  to {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

.lastTrickToggleButton {
  position: fixed;
  height: 10vh;
  width: 10vh;
  left: 10px;
  bottom: 10px;
  z-index: 10;
  cursor: pointer;
  background-color: white;
  box-shadow: 5px 10px 18px black;
  border: none;
  border-radius: 10vh;
  z-index: 101;
}

.lastTrickToggleButton:hover {
  background-color: lightgray;
}

.lastTrick {
  z-index: 101;
}

.boardCard.container {
  display: flex;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: transparent;
  height: 200px;
  width: 200px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.boardCard.container.active {
  display: flex;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: transparent;
  height: 200px;
  width: 200px;
  align-items: center;
  justify-content: center;
}
.boardCard.North {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.boardCard.South {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.boardCard.East {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.boardCard.West {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.roleButton {
  z-index: 100;
}

.gameOverOuterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  opacity: 0;
  font-size: x-large;
  animation: gameOverFlyin 1.2s ease forwards;
}

@keyframes gameOverFlyin {
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.scoreboard {
  margin-left: 5px;
  margin-right: 25px;
  width: 2rem;
  background-color: royalblue;
  color: white;
  border-radius: 10%;
  transition: 1s;
}

.playerStatContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(143, 188, 143, 0.5);
  border-radius: 10%;
  margin-left: 5px;
  padding: 5px;
}

.playerStatContainer.red {
  background-color: rgba(255, 0, 0, 0.5);
}
