.loginContainer {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-around;
  height: 50vh;
  width: 80%;
  max-width: 300px;
  border-radius: 2vh;
  align-items: center;
  font-size: 5vh;
  font-weight: 700;
  color: rgba(30, 30, 30, 0.8);
}

#formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
}

.loginBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}
