.chatContainer {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 80vw;
  max-width: 500px;
  max-height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
  background-color: white;
  border-radius: 10px;
  z-index: 102;
}

.chatHeader {
  justify-content: flex-start;
}

.messagesWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.chat {
  display: flex;
  justify-content: flex-end;
}
